
.button {
    background-color: rgb(103, 113, 150);
}

.form {
    background-color: rgba(255, 255, 255);
    color: rgb(47, 49, 28);
    box-shadow: 1px 2px 2px 1px rgb(216, 207, 207);
    border-radius: 10px; 
}