.post-card {
    background-color: rgba(255, 255, 255);
    box-shadow: 2px 4px 4px 2px rgba(128, 162, 201, 0.247);
    border-radius: 10px;
    height: 250px;
    color: rgb(80, 122, 170);
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 46px;
    width: 285px;
}

.name{
    font-size: 20px;
    overflow-x: hidden;
}

.info{
    font-size: 14px;
    overflow-x: hidden;
}

.button{
    font-size: 14px;
    color: rgb(80, 122, 170);
    font-weight: bold;
}

.comment{
    border-radius: 5px;
    color: rgb(52, 74, 99);
    background-color: rgba(138, 201, 243, 0.333);
    margin-bottom: 20px;
}

.modal-body-scroll {
    overflow-y: auto;
    height: 500px;
}