
.post-card {
    background-color: rgba(255, 255, 255);
    color: rgb(47, 49, 28);
    box-shadow: 1px 2px 2px 1px rgb(216, 207, 207);
    border-radius: 10px;
    height: 250px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.info{
    font-size: 17px;
    font-weight: 400;
}

.button{
    font-size: 15px;
}